
.form-cadastro{
	width: 100% !important;
}
.erroData{
    color: rgb(213,0,0);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.button-container{
	text-align: center;
}

.margin-auto{
	margin: auto;
}

@media screen and (max-width: 479px) {
	.hide-cel {
    	display: none;
	}
}